@charset "utf-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background:rgb(0, 195, 255);
    font-family: sans-serif;
}

header{
    background-image: linear-gradient(to top,  rgb(0, 195, 255),  rgb(0, 128, 53) );
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 1px;
    color: white;
}

.titulor{
    padding-top: 28px;
    padding-bottom: 10px;
    font-size: 3em;
}
nav{
    margin-top: 40px;
    text-align: right;
    margin-bottom: 10px;
}
 nav a {
    margin-right: 13px;
    text-decoration: none;
    color: white;
    padding: 7px;
    transition-duration: 0.4s;
}
nav a:hover{
    border-radius: 3px;
    
    text-decoration: underline;
    box-shadow: inset 0px 0px 10px white;
}

main{
    text-align: center;
    max-width: 600px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px black;

}




.cl{
    margin: 30px auto auto auto;
    text-align: center;
    width: 47px;
    color: white;
    border-radius: 10px;
    box-shadow: inset 0px 1px 12px;
    background-color: black;
}

.h{
    background-image: linear-gradient(to bottom, green, rgba(17, 190, 1, 0.781));
    margin:-10px;
    padding: 7px 7px 30px 7px;
    color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    text-align: center;
}

.historia{
    font-size: 2.2em;
    font-family: sans-serif;
    color: rgba(17, 190, 1, 0.781);

}
#historia{
    font-size: 1.1em;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}
#historia > img {
    width: 25%;
}
#historia > a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
#historia:hover > a {
    text-decoration: underline;
    color: rgb(102, 61, 61);

    
}
.peca{
    padding-top:30px;
    font-size: 2.2em;
    font-family: sans-serif;
    color: rgba(17, 190, 1, 0.781);
}
#peca {
    padding-top:20px ;
    font-size: 1.1em;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
#peca:hover  {
    text-decoration: underline;
    color: rgb(102, 61, 61);
}


