@charset "utf-8";

body{
    font-family: sans-serif;
    font-weight: bolder;
    
    
}
div{
    

}
.teste {
    display: flex;
    height: 1000px;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1000px;
    min-width: 280px;
}
.div1{
    background-color: aqua;
    height: 227px;
    padding: 10px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: 2px 7px 15px 3px black;
    text-indent: 6px;
    
}
.div2{
    background-color: brown;
    height: 227px;
    padding: 10px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: 2px 7px 15px 3px black;
    text-indent: 6px;
}
.div3{
    background-color: blueviolet;
    height: 227px;
    padding: 10px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: 2px 7px 15px 3px black;
    text-indent: 6px;
}

