@charset "utf-8";

body{ 
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(0, 255, 128);
}
header{
    text-align: center;
    background-image: linear-gradient(to top, rgb(1, 95, 1), rgba(0, 255, 0, 0.815));
    color: antiquewhite ;
    padding-top: 10px;
    box-shadow: 0px 2px 10px black;
    
}
header > p {
    text-align: center;
}
nav{
    text-align: left;
    padding-bottom: 10px;
}

nav:hover > a {
    color: blue;
    text-decoration: underline;
}
main{
    width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 0px;
    padding: 10px;
    box-shadow: 0px 2px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
p{
    text-indent: 20px;
    text-align: justify;
    margin: auto;
}
.imagem{
    text-align: center;
}
iframe{
    width: 600px    ;
    border: 20px solid green;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px ;
}
.aprender {
    border: 2px solid black;
    padding: 10px ;
}
.aprender > h5 {
    color:white ;
    padding-left: 10px;
    background-color: rgb(0, 155, 0);
    padding: 10px;
    
}
.u{
    margin-right: 300px;
}
.p{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(230, 214, 214);
    padding: 10px;
    border-radius: 20px;
}

footer{
    background-color: black;
    color:white;
    margin-top: 20px;
    padding-top:10px ;
}
footer > p {
    text-align: center;
}
a{
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
.n1:hover{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
}
.n2:hover{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
}
.n3:hover{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
}
.n4:hover{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
}
