.conteine{
    background-color: aquamarine;
    width: 200px;
    height:200px;
    text-align: center;
  

}

.conteine:hover{
    animation-name: j;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes j {
    0%{
        transform: translate(0px 0px );
    }
    
    
    50%{
        transform: rotatey(360deg); border-radius:40px; background-color: black;
    }

    
}
.j{
    position: absolute;
}

label:focus{
    width: 220px;
    color:red;
    transform: translate(200px, 200px );
}
input{
    position:relative;
}
input:focus{
    width: 220px;
    color:red;
    transform: translate(200px, 200px );
    transition-duration: 1s;
}

