@charset "utf-8";



body{
    font-family: sans-serif;
    background-color: rgba(11, 133, 0, 0.795);
}

.fomulario{
    max-width: 420px;
    border: 1px solid black;
    margin: 70px auto auto auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(17, 197, 1, 0.856);
    box-shadow: 0px 0px 9px 1px;
   
}

.fomulario h1 {
    background-image: linear-gradient(to bottom, green, rgba(17, 190, 1, 0.781));
    margin:-10px;
    padding: 7px 7px 30px 7px;
    color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    text-align: center;
}

label{
    font-size: 1.2em;
    color: black;

}

input{
    margin-left: 70px;
    margin-bottom: 15px;
    margin-top: 6px;
    padding: 5px;
    text-align: center;
    box-shadow: inset 0px 1px 15px rgb(17 197 1 / 86%);
    border: 1px transparent;
    border: 1px solid;
    
    border-radius: 7px;
}
.data{
    width: 168px;
    margin-left: 35px;
    margin-top: 2px;
}
.i{
    margin-left: 101px;
}
.n{
    margin-left: 55px;
}
.n2{
    margin-left: 70px;
}
.n3{
    margin-left: 64px;
}
#nome{
    margin-left: 26px;
}
label#nome {
    margin-left: 26px;
}
label#pai {
    margin-left: 36px;
}
label#mae {
    margin-left: 32px;
}
label#data {
    margin-left: 10px;
}
label#email {
    margin-left: 65px;
}
label#senha {
    margin-left: 65px;
}

button{
    margin: 21px auto 15px 165px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid;
    font-weight: bolder;
    border-radius: 8px;
    box-shadow: inset 0px 1px 15px rgb(17 197 1 / 86%);
}


