body{
    background-image: linear-gradient(to right, red,  blue );

}
table{
    text-align: center;
    font-size: 1.4em;
    background-image: linear-gradient(to right, transparent);
    margin: auto;
    margin-block: 40px;
    box-shadow: 0px 0px 9px 2px blueviolet ;
}
th{
    
    font-family: sans-serif;
    padding: 5px;
    background-color: antiquewhite;
    text-shadow: 0px 0px 1px blueviolet;
}
td{
    font-weight:600;
    font-family: monospace;
    padding: 5px;
    background-color: antiquewhite;
    text-shadow: 0px 0px 4px blueviolet;
}